In [1]:
#escribimos el número 3 en la celda
3

3

In [2]:
# ¿Qué pasaría si ahora en vez de un número escribieramos una letra?
a

NameError: name 'a' is not defined

In [3]:
"A"

'A'

In [4]:
a = 3

In [5]:
a

3

In [6]:
# NOTA: Los decimales en python se indican con " . "
metros = 1.87

In [7]:
# veamos que contiene ahora la variables "metros"
metros

1.87

In [8]:
print(a)

3

In [9]:
# creemos ahora una variable que se llame "comida" que almacene el texto "batata"
comida = 'batata'
print(comida)

batata

In [10]:
# creamos una variable numérica que se llame "cantidad"
cantidad = 3
print(cantidad)

# creamos una variable de tipo string que se llame "categoria1"
categoria1 = "verde"
print(categoria1)

# creamos una variable que se llame categoria2 que sea igual a la variable azul
categoria2 = azul
print(categoria2)

3
verde

NameError: name 'azul' is not defined

In [11]:
color_detalle = categoria1 + " " + "oscuro"
print(color_detalle)

verde oscuro

In [12]:
print(categoria1 + " oscuro")

verde oscuro

In [13]:
print(categoria1, "oscuro")

verde oscuro

EJEMPLOS

In [14]:
# definamos algunas variables con distintos tipos de datos numéricos
b1 = 3.0
b2 = 5
b3 = 5.0
b4 = 118

In [15]:
# en esta celda introduciremos algunas operaciones básicas de Python

c1 = b1 + b2 # "+" operador de suma
c2 = b1 + b3
c3 = b2 + b4
c4 = b2 - b4 # "-" operador de resta
c5 = b4 / b2 # "/" operador de división
c6 = b4 / b3

In [16]:
print('C1 = ', b1, ' + ', b2, ' = ', c1)
print('C2 = ', b1, ' + ', b3, ' = ', c2)
print('C3 = ', b2, ' + ', b4, ' = ', c3)
print('C4 = ', b2, ' - ', b4, ' = ', c4)
print('C5 = ', b4, ' / ', b2, ' = ', c5)
print('C6 = ', b4, ' / ', b3, ' = ', c6)

C1 =  3.0  +  5  =  8.0
C2 =  3.0  +  5.0  =  8.0
C3 =  5  +  118  =  123
C4 =  5  -  118  =  -113
C5 =  118  /  5  =  23.6
C6 =  118  /  5.0  =  23.6

In [17]:
C5 = int()
print(c5)
C5 = float()
print(c5)

C5 = int(b4 / b2)
print(c5)
C5 = float(b4 / b2)
print(c5)
C5 = str(b4 / b2)
print(c5)

23.6
23.6
23.6
23.6
23.6

In [18]:
c5a = float(b4 / b2)
c5b = int(b4 / b2)
c5c = str(b4 / b2)
t = type(c5a)

print(t)
print(type(c5b))
print(type(c5c))

<class 'float'>
<class 'int'>
<class 'str'>

In [19]:
print(isinstance(c5a,float))
print(isinstance(c5b,int))
print(isinstance(c5c,str))

True
True
True

In [20]:
# Probemos a cambiarle el orden a los argumentos que le pasamos

print(isinstance(str,c5c))

TypeError: isinstance() arg 2 must be a type or tuple of types

In [ ]:
d1 = True
d2 = False
d3 = c3 + d1
d4 = c3 + d2
d5 = c2 + d1
d6 = c2 + d2

print("D1 = ", d1)
print("D2 = ", d2)
print("D3 = ", c3, " + ", d1, " = ", d3)
print("D4 = ", c3, " + ", d2, " = ", d4)
print("D5 = ", c2, " + ", d1, " = ", d5)
print("D6 = ", c2, " + ", d2, " = ", d6)

print(type(d1))
print(isinstance(d1,bool))

D1 =  True
D2 =  False
D3 =  123  +  True  =  124
D4 =  123  +  False  =  123
D5 =  8.0  +  True  =  9.0
D6 =  8.0  +  False  =  8.0
<class 'bool'>
True

OPERACIONES ALGEBRAICAS

In [ ]:
# Definimos tres variables numéricas de tipo int
saldo = 235
ingreso = 100
gasto = 15

In [ ]:
print("Has recibido un ingreso, tu nuevo saldo es", saldo + ingreso)

Has recibido un ingreso, tu nuevo saldo es 335

In [ ]:
print("Has gastado dinero, tu nuevo saldo es", saldo - gasto)

Has gastado dinero, tu nuevo saldo es 220

In [ ]:
saldo = saldo + ingreso - gasto
print("Has tenido múltiples movidas en tu cuenta, tu saldo actual es", saldo)

Has tenido múltiples movidas en tu cuenta, tu saldo actual es 320

In [ ]:
# Multiplicación y división
unidades_por_pack_de_ahorro = 3
pack_vendidos = 5

In [ ]:
print("Has vendido", unidades_por_pack_de_ahorro*pack_vendidos, "unidades.")

Has vendido 15 unidades.

In [ ]:
unidades_en_almacen = 15
print("Nos queda stock para vender", unidades_en_almacen/unidades_por_pack_de_ahorro, "packs.")

Nos queda stock para vender 5.0 packs.

In [ ]:
unidades_por_pack_de_ahorro = 3
pack_vendidos = 5
unidades_en_almacen = 17

In [ ]:
print("Has vendido", unidades_por_pack_de_ahorro*pack_vendidos, "unidades.")

Has vendido 15 unidades.

In [ ]:
print("Nos queda stock para vender", unidades_en_almacen//unidades_por_pack_de_ahorro, "packs, y", unidades_en_almacen%unidades_por_pack_de_ahorro, "unidades sueltas.")

Nos queda stock para vender 5 packs, y 2 unidades sueltas.

In [ ]:
paquete_cm = 20
paquete_litros = (paquete_cm / 10) ** 3
print("Un paquete cúbido de", paquete_cm, "cm contiene", paquete_litros, "litros.")

Un paquete cúbido de 20 cm contiene 8.0 litros.

In [ ]:
variable = 5
raiz = variable ** 0.5
print("La raiz de", variable, "es", raiz)

La raiz de 5 es 2.23606797749979

In [ ]:
valor_del_stock = 236.45
unidades_en_stock = 18
precio_minimo_por_unidad = round(valor_del_stock/unidades_en_stock,2)
print(precio_minimo_por_unidad, "€.")

13.14 €.

In [ ]:
ninos_en_clase = 29
chuches_por_bolsa = 75
chuches_por_nino = round(chuches_por_bolsa/ninos_en_clase)
print(chuches_por_nino, "chuches.")

3 chuches.

OPERACIONES BINARIAS

In [ ]:
cucharas_de_azucar = 5
cucharas_en_receta1 = 7
cucharas_en_receta2 = 5

In [ ]:
# Es el valor de cucharas de azucar = a cucharas en receta1.
print(cucharas_de_azucar == cucharas_en_receta1)

False

In [ ]:
# Es el valor de cucharas de azucar = a cucharas en receta2.
print(cucharas_de_azucar == cucharas_en_receta2)

True

In [ ]:
# Es el valor de la variable cucharas de azucar La variable cucharas en receta1
print(cucharas_de_azucar is cucharas_en_receta1)

False

In [ ]:
# Es el valor de la variable cucharas de azucar La variable cucharas en receta2
print(cucharas_de_azucar is cucharas_en_receta2)

True

In [ ]:
# Comprobamos en caso de que fueran variables de tipo float
cucharas_de_azucar = 5.0
cucharas_en_receta2 = 5.0

In [ ]:
print(cucharas_de_azucar == cucharas_en_receta2)

True

In [ ]:
print(cucharas_de_azucar is cucharas_en_receta2)

False

In [ ]:
cucharas_en_receta2 = 5.0
cucharas_usadas = cucharas_en_receta2

In [ ]:
print(cucharas_usadas == cucharas_en_receta2)

True

In [ ]:
print(cucharas_usadas is cucharas_en_receta2)

True

In [ ]:
# recordemos que valores tienen las variables cucharas_de_azucar y cucharas_en_receta2
print(cucharas_de_azucar)
print(cucharas_en_receta2)

5.0
5.0

In [ ]:
# creemos una variable nueva que se llame cucharas_en_bote
cucharas_en_bote = 5

In [ ]:
print(cucharas_de_azucar is not cucharas_en_receta2)

True

In [ ]:
print(cucharas_de_azucar != cucharas_en_receta2)

False

In [ ]:
cucharas_que_quedan = 5
cucharas_en_receta = 5

In [ ]:
print("Podemos hacer la receta si ")
print(cucharas_en_receta < cucharas_que_quedan, "es True")
print(cucharas_que_quedan > cucharas_en_receta, "es True")

Podemos hacer la receta si
False es True
False es True

In [ ]:
cucharas_que_quedan = 7
cucharas_en_receta = 5

print("Podemos hacer la receta si:")
print(cucharas_en_receta <= cucharas_que_quedan, "es True")
print(cucharas_que_quedan >= cucharas_en_receta, "es True")
print("Nos sobrará azúcar si:")
print(cucharas_en_receta < cucharas_que_quedan, "es True")
print(cucharas_que_quedan > cucharas_en_receta, "es True")

Podemos hacer la receta si:
True es True
True es True
Nos sobrará azúcar si:
True es True
True es True

In [ ]:
huevos_que_quedan = 4
azucar_que_queda_litros = 250
harina_bizcocho_que_queda_gramos = 500
harina_trigo_que_queda_gramos = 500
impulsor_quimico_que_queda_cucharas = 2

In [ ]:
print("Podemos hacer la receta 1?")
print(huevos_que_quedan >= 4
    and azucar_que_queda_litros >= 120
    and (harina_bizcocho_que_queda_gramos >= 120
        or (harina_trigo_que_queda_gramos >= 120
            and impulsor_quimico_que_queda_cucharas >= 1.5)))

Podemos hacer la receta 1?
True

In [ ]:
huevos_que_quedan = 4
azucar_que_queda_litros = 250
harina_bizcocho_que_queda_gramos = 100
harina_trigo_que_queda_gramos = 500
impulsor_quimico_que_queda_cucharas = 2

In [ ]:
print("Podemos hacer la receta 1?")
print(huevos_que_quedan >= 4
    and azucar_que_queda_litros >= 120
    and (harina_bizcocho_que_queda_gramos >= 120
        or (harina_trigo_que_queda_gramos >= 120
            and impulsor_quimico_que_queda_cucharas >= 1.5)))

Podemos hacer la receta 1?
True

In [ ]:
huevos_que_quedan = 4
azucar_que_queda_litros = 250
harina_bizcocho_que_queda_gramos = 100
harina_trigo_que_queda_gramos = 500
impulsor_quimico_que_queda_cucharas = 1

In [ ]:
print("Podemos hacer la receta 1?")
print(huevos_que_quedan >= 4
    and azucar_que_queda_litros >= 120
    and (harina_bizcocho_que_queda_gramos >= 120
        or (harina_trigo_que_queda_gramos >= 120
            and impulsor_quimico_que_queda_cucharas >= 1.5)))

Podemos hacer la receta 1?
False

METODOS DE LOS STRING Y FUNCIONES

INPUT()

In [ ]:
hola = 'Hello'
nombre = 'Ada'
apellido = 'Lovelace'

In [ ]:
nombre_completo = nombre + ' ' + apellido
print(nombre_completo)

Ada Lovelace

In [ ]:
print(nombre, apellido)

Ada Lovelace

In [ ]:
nombre = input()
print(nombre)

Sandra

In [ ]:
bienvenida = hola + ' ' + nombre + ', ¡bienvenida a este bootcamp!'
print(bienvenida)

Hello Sandra, ¡bienvenida a este bootcamp!

UPPER()

In [ ]:
# Convertimos todas las letras a mayúsculas
print(bienvenida.upper())

HELLO SANDRA, ¡BIENVENIDA A ESTE BOOTCAMP!

In [ ]:
print(bienvenida)

Hello Sandra, ¡bienvenida a este bootcamp!

In [ ]:
bienvenida_mayus = bienvenida.upper()
print(bienvenida_mayus)

HELLO SANDRA, ¡BIENVENIDA A ESTE BOOTCAMP!

LOWER()

In [ ]:
# Convertimos todas las letras a minúsculas
print(bienvenida.lower())

hello sandra, ¡bienvenida a este bootcamp!

CAPITALIZE()

In [ ]:
# Poner la primera letra de la frase en mayúscula
print(bienvenida.capitalize())

Hello sandra, ¡bienvenida a este bootcamp!

TITLE()

In [ ]:
# Poner la primera letra de cada palabra en mayúscula
print(bienvenida.title())

Hello Sandra, ¡Bienvenida A Este Bootcamp!

SWAPCASE()

In [ ]:
# Convertir las mayúsculas en minúsculas y las minúsculas en mayúsculas
print(bienvenida.swapcase())

hELLO sANDRA, ¡BIENVENIDA A ESTE BOOTCAMP!

STRIP()

In [ ]:
# Quitar todos los espacios que haya al principio y al final del string
bienvenida2 = '    Nos alegra que estés aquí'
print(bienvenida2)

    Nos alegra que estés aquí

In [ ]:
print(bienvenida2.strip())

Nos alegra que estés aquí

In [ ]:
bienvenida2

'    Nos alegra que estés aquí'

In [ ]:
bienvenida2_strip = bienvenida2.strip()

In [ ]:
bienvenida2_strip

'Nos alegra que estés aquí'

SPLIT()

In [ ]:
# Definimos un nuevo string
saludo = "Buenos días chicas, sigamos aprendiendo métodos de los strings"

In [ ]:
# Si hacemos un split sin especificar separador, veremos que nos devuelve una lista donde separa nuestro string por los espacios
saludo_separado = saludo.split()
saludo_separado

['Buenos',
 'días',
 'chicas,',
 'sigamos',
 'aprendiendo',
 'métodos',
 'de',
 'los',
 'strings']

In [ ]:
# También se puede especificar un separador, en este caso, por las "d"
saludo_separado2 = saludo.split("d")
saludo_separado2

['Buenos ',
 'ías chicas, sigamos apren',
 'ien',
 'o méto',
 'os ',
 'e los strings']

In [ ]:
don_quijote = """En un lugar de la Mancha, de cuyo nombre no quiero acordarme, no ha mucho tiempo que vivía un hidalgo de los de 
lanza en astillero, adarga antigua, rocín flaco y galgo corredor. Una olla de algo más vaca que carnero, salpicón las más noches,
duelos y quebrantos los sábados, lantejas los viernes, algún palomino de añadidura los domingos, 
consumían las tres partes de su hacienda."""

In [ ]:
#Cada línea está separada por una "\n", es el símbolo que usará python para indicar el salto de línea
don_quijote

'En un lugar de la Mancha, de cuyo nombre no quiero acordarme, no ha mucho tiempo que vivía un hidalgo de los de \nlanza en astillero, adarga antigua, rocín flaco y galgo corredor. Una olla de algo más vaca que carnero, salpicón las más noches,\nduelos y quebrantos los sábados, lantejas los viernes, algún palomino de añadidura los domingos, \nconsumían las tres partes de su hacienda.'

In [ ]:
# Separamos los string por esos saltos de línea
don_quijote_separado = don_quijote.split("\n")
don_quijote_separado

['En un lugar de la Mancha, de cuyo nombre no quiero acordarme, no ha mucho tiempo que vivía un hidalgo de los de ',
 'lanza en astillero, adarga antigua, rocín flaco y galgo corredor. Una olla de algo más vaca que carnero, salpicón las más noches,',
 'duelos y quebrantos los sábados, lantejas los viernes, algún palomino de añadidura los domingos, ',
 'consumían las tres partes de su hacienda.']

REPLACE()

In [ ]:
# recordemos que era saludo
saludo

'Buenos días chicas, sigamos aprendiendo métodos de los strings'

In [ ]:
# reemplzamos la palabra chicas por Adalabers
saludo_adalaber = saludo.replace("chicas", "Adalaber")
saludo_adalaber

'Buenos días Adalaber, sigamos aprendiendo métodos de los strings'

In [ ]:
# volvamos a ver el don quijote
don_quijote

'En un lugar de la Mancha, de cuyo nombre no quiero acordarme, no ha mucho tiempo que vivía un hidalgo de los de \nlanza en astillero, adarga antigua, rocín flaco y galgo corredor. Una olla de algo más vaca que carnero, salpicón las más noches,\nduelos y quebrantos los sábados, lantejas los viernes, algún palomino de añadidura los domingos, \nconsumían las tres partes de su hacienda.'

In [ ]:
# reemplazamos los dos primeros "los"
don_quijote_cambiado = don_quijote.replace(" los ", " DON QUIJOTE ", 2)
don_quijote_cambiado

'En un lugar de la Mancha, de cuyo nombre no quiero acordarme, no ha mucho tiempo que vivía un hidalgo de DON QUIJOTE de \nlanza en astillero, adarga antigua, rocín flaco y galgo corredor. Una olla de algo más vaca que carnero, salpicón las más noches,\nduelos y quebrantos DON QUIJOTE sábados, lantejas los viernes, algún palomino de añadidura los domingos, \nconsumían las tres partes de su hacienda.'

JOIN()

In [ ]:
# Definimos una lista
lista_saludo = ["Hola", "que tal estás", "Adalaber"]

In [ ]:
string_saludo1 = " ".join(lista_saludo)
string_saludo1

'Hola que tal estás Adalaber'

In [ ]:
string_saludo2 = "_".join(lista_saludo)
string_saludo2

'Hola_que tal estás_Adalaber'

In [ ]:
# recordemos saludo
saludo

'Buenos días chicas, sigamos aprendiendo métodos de los strings'

In [ ]:
# buscamos las "m" del saludo, empezando por la letra en la posición 10, hasta la letra en la posición 30
saludo.find("m", 10, 30)

24

In [ ]:
# probamos un metodo de string en un integer
numero = 5

In [ ]:
numero.upper()

AttributeError: 'int' object has no attribute 'upper'

In [ ]:
vacas = 5
temperatura = 36.5

vacas
temperatura

36.5

In [ ]:
nombre = input("Dime tu nombre").strip()

DEFINIR UNA LISTA

In [21]:
lista_de_compra = ["peras"]
notas_biologia_este_año = [7]

In [22]:
print(type(lista_de_compra))

<class 'list'>

In [23]:
isinstance(notas_biologia_este_año,list)

True

In [24]:
# denifimos una lista vacía
notas_biologia_este_año = []

# veremos que la lista está vacía
print(notas_biologia_este_año)

[]

In [25]:
# definimos tres variables con las notas de nuestros exámenes
examen_bio_1 = 8
examen_bio_2 = 7.5
examen_bio_3 = 4

In [26]:
# creo la lista de nuevo, pero en este caso le paso valores, en concreto le paso los nombres
notas_biologia_este_año = [examen_bio_1, examen_bio_2, examen_bio_3]

# con este print podremos ver cual es el contenido de nuestra lista ahora. Veremos que, las valores de la lista son lo que definimos con las variables examen_bio_1, examen_bio_2 y examen_bio_3
print(notas_biologia_este_año)

[8, 7.5, 4]

In [27]:
# definimos la lista con las notas del año pasado
notas_biologia_primer_año = [8.3, 6.7, 9.0, 7.5, 5.8, 6.8, 9.0, 6.8]

In [28]:
# al inicio de la leccion comentamos que las listas pueden contener cualquier tipo de dato. En este caso, vamos a crear una lista que contendrá dos listas. La primera con los datos del primer año y la segunda con los datos del segundo año.
notas_biologia = [notas_biologia_primer_año, notas_biologia_este_año]

# con este print veremos que tenemos una lista grande, con dos listas más pequeñas en su interior. Recordad que las listas vienen definidas por []
print(notas_biologia)

[[8.3, 6.7, 9.0, 7.5, 5.8, 6.8, 9.0, 6.8], [8, 7.5, 4]]

In [29]:
# definimos una nueva lista que va a contener strings y números
notas_biologia_segundo_año = ['A', 'D', 'B', 6.0, 7.1, 6.8, 8.2, 6.8]
notas_biologia_segundo_año

['A', 'D', 'B', 6.0, 7.1, 6.8, 8.2, 6.8]

In [30]:
# juntamos las tres listas
notas_biologia = [notas_biologia_primer_año, notas_biologia_segundo_año, notas_biologia_este_año]

#vemos su contenido
notas_biologia

[[8.3, 6.7, 9.0, 7.5, 5.8, 6.8, 9.0, 6.8],
 ['A', 'D', 'B', 6.0, 7.1, 6.8, 8.2, 6.8],
 [8, 7.5, 4]]

In [31]:
# juntamos las tres listas usando el operador +
print(notas_biologia_primer_año + notas_biologia_segundo_año + notas_biologia_este_año)

[8.3, 6.7, 9.0, 7.5, 5.8, 6.8, 9.0, 6.8, 'A', 'D', 'B', 6.0, 7.1, 6.8, 8.2, 6.8, 8, 7.5, 4]

In [32]:
# definimos una variable de tipo string
apellido = 'Lovelace'

# la convertimos a lista
list(apellido)

['L', 'o', 'v', 'e', 'l', 'a', 'c', 'e']

In [33]:
apellido

'Lovelace'

In [34]:
apellido2 = list(apellido)

In [35]:
apellido2

['L', 'o', 'v', 'e', 'l', 'a', 'c', 'e']

In [36]:
# definimos la variable numérica
numero = 22

In [37]:
list(numero)

TypeError: 'int' object is not iterable

PROPIEDADES DE UNA LISTA

In [38]:
# recordemos la variable notas_biologia_primer_año
notas_biologia_primer_año

[8.3, 6.7, 9.0, 7.5, 5.8, 6.8, 9.0, 6.8]

In [39]:
# veamos cuántas notas tenemos en la lista
cantidad_de_notas = len(notas_biologia_primer_año)
print(cantidad_de_notas)

8

In [40]:
minima = min(notas_biologia_primer_año)
maxima = max(notas_biologia_primer_año)
print("Mi nota mínima fue:", minima)
print("Mi nota máxima fue:", maxima)

Mi nota mínima fue: 5.8
Mi nota máxima fue: 9.0

In [41]:
# recordemos como era la lista notas_biologia_segundo_año
notas_biologia_segundo_año

['A', 'D', 'B', 6.0, 7.1, 6.8, 8.2, 6.8]

In [42]:
min(notas_biologia_segundo_año)

TypeError: '<' not supported between instances of 'float' and 'str'

In [43]:
mi_lista = ["Hola", "Adalaber"]

In [44]:
min(mi_lista)

'Adalaber'

In [45]:
max(mi_lista)

'Hola'

In [46]:
# recordemos la lista notas_biologia_primer_año
notas_biologia_primer_año

[8.3, 6.7, 9.0, 7.5, 5.8, 6.8, 9.0, 6.8]

In [47]:
# usamos el operador "in" para preguntarle a Python si el valor 6.0 está contenido en la lista notas_biologia_primer_año
6.0 in notas_biologia_primer_año

False

In [48]:
# usamos el operador "in" para preguntarle a Python si la nota 8.3 está contenido en la lista notas_biologia_primer_año
8.3 in notas_biologia_primer_año

True

In [49]:
# juntamos las tres listas, obteniendo una lista de tres listas
notas_biologia = [notas_biologia_primer_año, notas_biologia_segundo_año, notas_biologia_este_año]
notas_biologia

[[8.3, 6.7, 9.0, 7.5, 5.8, 6.8, 9.0, 6.8],
 ['A', 'D', 'B', 6.0, 7.1, 6.8, 8.2, 6.8],
 [8, 7.5, 4]]

In [50]:
# está el número 6 en la lista notas_biologia_segundo_año?
6 in notas_biologia_segundo_año

True

In [51]:
# esta el numero 6 en la lista de listas?
6 in notas_biologia

False

In [52]:
8 not in notas_biologia_primer_año

True

In [53]:
8.3 not in notas_biologia_primer_año

False

METODOS PARA LISTAS

In [54]:
# definimos la lista de notas
notas = notas_biologia_primer_año + notas_biologia_segundo_año + notas_biologia_este_año
print(notas)

[8.3, 6.7, 9.0, 7.5, 5.8, 6.8, 9.0, 6.8, 'A', 'D', 'B', 6.0, 7.1, 6.8, 8.2, 6.8, 8, 7.5, 4]

COPY()

In [55]:
# nos podemos hacer una copia de la lista de notas usando el metodo .copy()
bio = notas.copy()
print(bio)

[8.3, 6.7, 9.0, 7.5, 5.8, 6.8, 9.0, 6.8, 'A', 'D', 'B', 6.0, 7.1, 6.8, 8.2, 6.8, 8, 7.5, 4]

In [56]:
# podemos vaciar una lista usando el metodo clear()
notas.clear()
print(notas)

[]

COUNT()

In [57]:
# volvemos a definir la lista de notas
notas = notas_biologia_primer_año + notas_biologia_segundo_año + notas_biologia_este_año
print(notas)

[8.3, 6.7, 9.0, 7.5, 5.8, 6.8, 9.0, 6.8, 'A', 'D', 'B', 6.0, 7.1, 6.8, 8.2, 6.8, 8, 7.5, 4]

In [58]:
# cuantas veces aparece la nota 6.8 en nuestra lista de notas?
print(notas.count(6.8))

4

REVERSE()

In [59]:
# hagamos una copia de la lista notas_biologia_año
biologia = notas_biologia_primer_año.copy()
biologia

[8.3, 6.7, 9.0, 7.5, 5.8, 6.8, 9.0, 6.8]

In [60]:
# apliquemos el método reverse, que no nos devolverá nada
biologia.reverse()

In [61]:
# veamos que tenemos ahora en biología
biologia

[6.8, 9.0, 6.8, 5.8, 7.5, 9.0, 6.7, 8.3]

SORT()

In [62]:
# recordemos como era notas_biologia_primer_año
notas_biologia_primer_año

[8.3, 6.7, 9.0, 7.5, 5.8, 6.8, 9.0, 6.8]

In [63]:
# nos hacemos una copia de la lista anterior usando el metodo copy()
ordenada = notas_biologia_primer_año.copy()
ordenada

[8.3, 6.7, 9.0, 7.5, 5.8, 6.8, 9.0, 6.8]

In [64]:
ordenada.sort()
ordenada

[5.8, 6.7, 6.8, 6.8, 7.5, 8.3, 9.0, 9.0]

In [65]:
# nos hacemos una copia de nuevo de la lista notas_biologia_primer_año
ordenada2 = notas_biologia_primer_año.copy()
ordenada2

[8.3, 6.7, 9.0, 7.5, 5.8, 6.8, 9.0, 6.8]

In [66]:
ordenada2.sort(reverse=True)
ordenada2

[9.0, 9.0, 8.3, 7.5, 6.8, 6.8, 6.7, 5.8]