# Definir sets

In [1]:
# Podemos crear un set que venga de una tupla, una estructura de datos que todavía no hemos aprendido, pero que viene definida entre paréntesis
tupla = ('Leche','Huevos', 'Cacahuetes','Frutos secos','Pescado','Crustáceos','Soja','Trigo', "Huevos")
alergenos = set(tupla)

In [2]:
print(alergenos)

{'Leche', 'Frutos secos', 'Crustáceos', 'Cacahuetes', 'Trigo', 'Huevos', 'Soja', 'Pescado'}

In [3]:
# También podemos crear un set de una lista
lista = ['Leche','Huevos', 'Cacahuetes','Frutos secos','Pescado','Crustáceos','Soja','Trigo', "Huevos"]
alergenos2 = set(lista)

In [4]:
print(alergenos2)

{'Leche', 'Frutos secos', 'Crustáceos', 'Cacahuetes', 'Trigo', 'Huevos', 'Soja', 'Pescado'}

In [5]:
# o incluso definirlos directamente, usando las llaves:
alergenos3 = {'Soja', 'Trigo', 'Cacahuetes', 'Leche', 'Huevos','Frutos secos', 'Pescado', 'Crustáceos', "Huevos"}
print(alergenos3)

{'Leche', 'Frutos secos', 'Crustáceos', 'Trigo', 'Cacahuetes', 'Huevos', 'Soja', 'Pescado'}

In [6]:
# está la palabra "huevos" dentro de nuestro set?
print("Huevos" in alergenos)

True

In [7]:
# está la palabra "Apio" en nuestro set?
"Apio" in alergenos

False

In [8]:
alergenos.add("Apio")
print(alergenos)

{'Leche', 'Apio', 'Frutos secos', 'Crustáceos', 'Cacahuetes', 'Trigo', 'Huevos', 'Soja', 'Pescado'}

In [9]:
# imaginemos que queremos meter dos elementos nuevos en nuestro set. Con el método add nos daría un error.
# alergenos.add("Apio", "Brocoli")

TypeError: set.add() takes exactly one argument (2 given)

In [10]:
# nos creamos una lista con los elementos que queremos introducir en nuestro set
actualizacion = ["Mostaza", "Sésamo"]

# le pasamos la lista creada al método update
alergenos.update(actualizacion)

In [11]:
# podemos ver como se han añadido nuestros dos nuevos elementos
print(alergenos)

{'Leche', 'Sésamo', 'Apio', 'Frutos secos', 'Crustáceos', 'Cacahuetes', 'Trigo', 'Huevos', 'Soja', 'Mostaza', 'Pescado'}

In [12]:
# también el podemos pasar un set a este método

# definimos un set con los nuevos elementos que queremos incluir
actualizacion2 = {'Altramuces'}

# usamos el método update
alergenos.update(actualizacion2)

In [13]:
print(alergenos)

{'Leche', 'Sésamo', 'Apio', 'Frutos secos', 'Crustáceos', 'Cacahuetes', 'Trigo', 'Altramuces', 'Huevos', 'Soja', 'Mostaza', 'Pescado'}

## Ejercicios: definir sets

In [14]:
# 1. Vuelve a definir la lista
temperaturas_diciembre = [10, 10, 13, 14, 12, 15,
                          12, 11, 13, 17, 18, 15,
                          15, 17, 17, 13, 13, 11,
                          12, 10, 12, 14, 12, 12,
                          11, 12, 16, 16, 14, 17, 18]

In [15]:
# 2. Conviértela en un set diciembre.
diciembre = set(temperaturas_diciembre)
print(diciembre)

{10, 11, 12, 13, 14, 15, 16, 17, 18}

In [16]:
# 3. Piensa en 6 colores y define el set colores para guardarlos.
colores = {"azul", "rojo", "negro", "amarillo", "verde", "morado"}
print(colores)

{'verde', 'azul', 'negro', 'rojo', 'morado', 'amarillo'}

In [17]:
# 4. Añade "lila" a colores usando .add()
colores.add("lila")
print(colores)

{'verde', 'azul', 'negro', 'rojo', 'morado', 'lila', 'amarillo'}

In [18]:
# 5. Añade "azul", "rojo" y "granate" a colores usando .update()
colores_nuevos = ["azul", "rojo", "granate"]
colores.update(colores_nuevos)
print(colores)

{'verde', 'azul', 'granate', 'negro', 'rojo', 'morado', 'lila', 'amarillo'}

In [19]:
# 6. TU lista de colores tiene verde?
"verde" in colores

True

In [20]:
# 7. Tiene rojo?
"rojo" in colores

True

In [21]:
# hacemos una copia del set alergenos
alergenos2 = alergenos.copy()
alergenos2

{'Altramuces',
 'Apio',
 'Cacahuetes',
 'Crustáceos',
 'Frutos secos',
 'Huevos',
 'Leche',
 'Mostaza',
 'Pescado',
 'Soja',
 'Sésamo',
 'Trigo'}

In [22]:
# número de elementos que tenemos en un set
print("Cuantos elementos:", len(alergenos2))

Cuantos elementos: 12

In [23]:
# eliminamos un elemento de set. Como no tiene orden, lo eliminará de forma aleatoria
elemento = alergenos2.pop()
elemento

'Leche'

In [24]:
# veamos que elementos tenemos ahora en alergenos2
print(alergenos2)

{'Sésamo', 'Apio', 'Frutos secos', 'Crustáceos', 'Cacahuetes', 'Trigo', 'Altramuces', 'Huevos', 'Soja', 'Mostaza', 'Pescado'}

In [25]:
print("Cuantos elementos:", len(alergenos2))

Cuantos elementos: 11

In [26]:
# También podemos usar el método clear, que vacia el contenido del set
alergenos2.clear()
print(alergenos2)

set()

In [27]:
# hacemos otra copia del set alergenos
alergenos3 = alergenos.copy()
print(alergenos3)

{'Leche', 'Sésamo', 'Apio', 'Frutos secos', 'Crustáceos', 'Cacahuetes', 'Trigo', 'Altramuces', 'Huevos', 'Soja', 'Mostaza', 'Pescado'}

In [28]:
# imaginemos que queremos eliminar el elemento "huevos" de nuestro set
alergenos3.remove("Huevos")
print(alergenos3)

{'Leche', 'Sésamo', 'Apio', 'Frutos secos', 'Crustáceos', 'Cacahuetes', 'Trigo', 'Altramuces', 'Soja', 'Mostaza', 'Pescado'}

In [29]:
# usando discard
alergenos3.discard("Soja")
print(alergenos3)

{'Leche', 'Sésamo', 'Apio', 'Frutos secos', 'Crustáceos', 'Cacahuetes', 'Trigo', 'Altramuces', 'Mostaza', 'Pescado'}

## Ejercicios : propiedades y métodos de un set

In [34]:
# 8. Define el set enero para que sea igual a diciembre
enero = diciembre.copy()
print(enero)

{10, 11, 12, 13, 14, 15, 16, 17, 18}

In [35]:
# 9. Quita las temperaturas 17 y 18 de enero
enero.remove(17)
enero.remove(18)
print(enero)

{10, 11, 12, 13, 14, 15, 16}

In [36]:
# 10. Cuantas temperaturas distintas había en diciembre?
len(diciembre)

9

In [37]:
# 11. Y cuantas en enero?
len(enero)

7

# Operaciones con sets

In [38]:
# definimos los dos set nuevos

set1 = {'a','b','c'}
set2 = {'b','c','d'}

In [39]:
set3 = set1.union(set2)
set3

{'a', 'b', 'c', 'd'}

In [40]:
# también se puede hacer usando el separador |
set33 = set1 | set2
print(set33)

{'b', 'd', 'c', 'a'}

In [41]:
#recordemos set1 y set2
print(set1)
print(set2)

{'c', 'b', 'a'}
{'c', 'd', 'b'}

In [42]:
# los elementos comunes a los dos sets son
set4 = set1.intersection(set2)
set4

{'b', 'c'}

In [43]:
#otra opción para hacerlo
set44 = set1 & set2
set44

{'b', 'c'}

In [44]:
#recordemos set1 y set2
print(set1)
print(set2)

{'c', 'b', 'a'}
{'c', 'd', 'b'}

In [45]:
# que elementos están en set1 pero no en set2
set5 = set1.difference(set2)
print(set5)

{'a'}

In [46]:
# que elementos están en set2 pero no en set1
set55 = set2.difference(set1)
print(set55)

{'d'}

In [47]:
set555 = set1 - set2
print(set555)

{'a'}

In [48]:
#recordemos set1 y set2
print(set1)
print(set2)

{'c', 'b', 'a'}
{'c', 'd', 'b'}

In [49]:
# que elementos son unicos del set1 y set2
set7= set1.symmetric_difference(set2)
print(set7)

{'d', 'a'}

In [50]:
set77 = set2.symmetric_difference(set1)
print(set77)

{'d', 'a'}

In [51]:
# recordemos
print(set4)
print(set7)

{'c', 'b'}
{'d', 'a'}

In [52]:
# isdisjoint para comprobar si tienen elementos en común o no
set4.isdisjoint(set7)

True

In [53]:
print(set1)
print(set2)

{'c', 'b', 'a'}
{'c', 'd', 'b'}

In [54]:
set1.isdisjoint(set2)

False

In [55]:
# recordemos de nuevo los sets con los que estamos trabajando
set8 = {"a", "b", "d"}
set9 = {"a", "d"}

In [56]:
# comprobemos si el set 8 es un subset de set9. Lo que estamos evaluando si todos los elementos de set8 están en el set9
print(set8.issubset(set9))

False

In [57]:
# también se puede hacer como
set8 < set9

False

In [58]:
# están todos los elementos del set9 en el set8?
set9.issubset(set8)

True

In [59]:
set8 > set9

True

In [60]:
print(set8)
print(set9)

{'d', 'b', 'a'}
{'d', 'a'}

In [61]:
set8.issuperset(set9)

True

In [62]:
set9.issuperset(set8)

False

## Ejercicios: set operaciones

In [63]:
print(diciembre)
print(enero)

{10, 11, 12, 13, 14, 15, 16, 17, 18}
{10, 11, 12, 13, 14, 15, 16}

In [64]:
# 12. Identifica los elementos que haya en diciembre que no haya en enero
dic_si = diciembre.difference(enero)
print(dic_si)

{17, 18}

In [65]:
# 13. Identifica los elementos que haya en enero pero no en diciembre
ene_si = enero.difference(diciembre)
print(ene_si)

set()

In [66]:
# 14. Identifica los elementos que tienen en común diciembre y enero
diciembre.intersection(enero)

{10, 11, 12, 13, 14, 15, 16}

In [67]:
# 15. Identifica la diferencia simétrica de colores y {marrón, amarillo, cian} 
print(colores)

{'verde', 'azul', 'granate', 'negro', 'rojo', 'morado', 'lila', 'amarillo'}

In [68]:
colores2 = {"marrón", "amarillo", "cian"}
print(colores2)

{'cian', 'marrón', 'amarillo'}

In [69]:
colores.symmetric_difference(colores2)

{'azul',
 'cian',
 'granate',
 'lila',
 'marrón',
 'morado',
 'negro',
 'rojo',
 'verde'}

In [70]:
# 16. son disjoint diciembre y enero? Porqué(no)?
diciembre.isdisjoint(enero)

False

In [71]:
# porque coinciden algunos elementos

In [72]:
# 17. Es {"rojo", "azul"} un superset de colores?
colores3 = {"rojo", "azul"}

In [73]:
colores3.issuperset(colores)

False

In [74]:
colores3.issubset(colores)

True