In [1]:
# creamos una lista donde tengamos 4 strings que corresponden a las 4 estaciones
estaciones = ["primavera", "verano", "oto침o", "invierno"]

In [2]:
# siguiendo la sintaxis de los bucles for, lo iniciamos usando las palabras reservadas for e in
# 游늷 fijaos como en este ejemplo, lo que en el ejemplo de la sintaxis llamamos como "elemento" aqu칤 lo estamos llamando temporada 
for temporada in estaciones:
     # con el for lo que estamos haciendo es acceder a cada uno de los elementos de la lista. Lo que estamos haciendo en las siguientes l칤neas de c칩digo es: 
     # 1. imprimir el elemento al que estamos accediendo de la lista
     print(f"estamos accediendo al elemento {temporada}")
     print("---------------------------------------")

estamos accediendo al elemento primavera
---------------------------------------
estamos accediendo al elemento verano
---------------------------------------
estamos accediendo al elemento oto침o
---------------------------------------
estamos accediendo al elemento invierno
---------------------------------------

In [3]:
estaciones[2]

'oto침o'

In [4]:
for caracter in estaciones[2]:
    print(caracter)
    print("-------")

o
-------
t
-------
o
-------
침
-------
o
-------

In [5]:
lista_numeros = [1, 2, 4, 8, 16]
numeros_sumados = []

In [6]:
for numero in lista_numeros:
    print(f"el n칰mero al que estamos accediendo es {numero}")
    suma = numero + 1
    numeros_sumados.append(suma)
    print(numeros_sumados)

el n칰mero al que estamos accediendo es 1
[2]
el n칰mero al que estamos accediendo es 2
[2, 3]
el n칰mero al que estamos accediendo es 4
[2, 3, 5]
el n칰mero al que estamos accediendo es 8
[2, 3, 5, 9]
el n칰mero al que estamos accediendo es 16
[2, 3, 5, 9, 17]

In [7]:
numeros_sumados

[2, 3, 5, 9, 17]

In [8]:
lista_numeros

[1, 2, 4, 8, 16]

In [10]:
ciudades = ["Madrid", "Leon", "Soria", "Valencia", "Ciudad Real"]

In [16]:
ciudades_mayusculas = []

In [17]:
for ciudad in ciudades:
    print(f"Estamos interando por la ciudad {ciudad}")
    ciudades_mayusculas.append(ciudad.upper())

Estamos interando por la ciudad Madrid
Estamos interando por la ciudad Leon
Estamos interando por la ciudad Soria
Estamos interando por la ciudad Valencia
Estamos interando por la ciudad Ciudad Real

In [18]:
ciudades_mayusculas

['MADRID', 'LEON', 'SORIA', 'VALENCIA', 'CIUDAD REAL']

In [19]:
ciudades_peque침as = []
ciudades_grandes = []

In [20]:
for ciud in ciudades:
    if len(ciud) < 6:
        ciudades_peque침as.append(ciud)
    else:
        ciudades_grandes.append(ciud)

In [22]:
print("Las ciudades peque침as son:", ciudades_peque침as)
print("Las ciudades grandes son", ciudades_grandes)

Las ciudades peque침as son: ['Leon', 'Soria']
Las ciudades grandes son ['Madrid', 'Valencia', 'Ciudad Real']

In [23]:
lista_compra = {'Brocoli': 2.45, 
       'Chorizo': 45,
       'Zanahoria': 7, 
       'Arroz': 1.2, 
       'Pan': 0.95}

In [24]:
for i in lista_compra:
    print(i)

Brocoli
Chorizo
Zanahoria
Arroz
Pan

In [25]:
lista_compra.values()

dict_values([2.45, 45, 7, 1.2, 0.95])

In [26]:
for i in lista_compra.values():
    print(i)

2.45
45
7
1.2
0.95

In [28]:
lista_compra.items()

dict_items([('Brocoli', 2.45), ('Chorizo', 45), ('Zanahoria', 7), ('Arroz', 1.2), ('Pan', 0.95)])

In [29]:
for key, value in lista_compra.items():
    print(key, "---->", value)

Brocoli ----> 2.45
Chorizo ----> 45
Zanahoria ----> 7
Arroz ----> 1.2
Pan ----> 0.95

In [31]:
lista_compra

{'Brocoli': 2.45, 'Chorizo': 45, 'Zanahoria': 7, 'Arroz': 1.2, 'Pan': 0.95}

In [32]:
lista_compra["Brocoli"]

2.45

In [33]:
dos_euros = []

In [34]:
for k, v in lista_compra.items():
    if lista_compra[k] < 2:
        dos_euros.append(k)

In [35]:
dos_euros

['Arroz', 'Pan']

## Ejercicios: for

In [1]:
# usando la siguiente lista:
temperaturas = [23, 12, 37, 33, 1, 6, 15]

In [39]:
# 1. Cread tres listas nuevas, donde:
# A. En la primera tengamos temperaturas entre 0-10
# B. En la segunda tengamos temperaturas entre 11-20
# C. En la tercera tengamos temperaturas por encima de 20
lista_a = []
lista_b = []
lista_c = []
for temp in temperaturas:
    if 0 <= temp <= 10:
        lista_a.append(temp)
    elif 11 <= temp <=20:
        lista_b.append(temp)
    else:
        lista_c.append(temp)
print("Lista a =", lista_a)
print("Lista b =", lista_b)
print("Lista c =", lista_c)

Lista a = [1, 6]
Lista b = [12, 15]
Lista c = [23, 37, 33]

In [2]:
# 2. Las temperaturas est치n en grados cent칤grados. Convertid las temperaturas a grados Fahrenheit
 # la relacion de grados celsius y fahrenheit es:
 # (0 춿C 칑 9 / 5) + 32 = 32 춿F

temperaturas_fahrenheit = []
for i in temperaturas:
    temperaturas_fahrenheit.append((i*9/5)+32)
print(temperaturas_fahrenheit)

[73.4, 53.6, 98.6, 91.4, 33.8, 42.8, 59.0]

In [42]:
range(0,3)

range(0, 3)

In [43]:
range(3)

range(0, 3)

In [44]:
range(100,201)

range(100, 201)

In [45]:
for x in range(3):
    print(x)

0
1
2

In [46]:
for x in range(2,7):
    print(x)

2
3
4
5
6

In [47]:
for x in range(0,10,2):
    print(x)

0
2
4
6
8

In [48]:
for x in range(1,11,2):
    print(x)

1
3
5
7
9

## Ejercicios: range

In [50]:
# 3. Con un argumento. Define e imprime un rango de 0 a 6 (excluido)
for x in range(6):
    print(x)

0
1
2
3
4
5

In [51]:
# 4. Con dos argumentos. Define e imprime un rango de 3 a 6 ambos incluidos.
for x in range(3,7):
    print(x)

3
4
5
6

In [52]:
# 5. Define e imprime un rango de 5 a 9 ambos excluidos.
for x in range(6,9):
    print(x)

6
7
8

In [53]:
# 6. Define e imprime un rango de 3 n칰meros que empiece en 2.
for x in range(2,5):
    print(x)

2
3
4

In [54]:
# 7. Con tres argumentos. Define e imprime un rango que empiece en 2, aumentando cada paso por 3, que pare antes de llegar al n칰mero 13.
for x in range(2,13,3):
    print(x)

2
5
8
11

In [57]:
# 8. Define e imprime un rango de impares hasta 10
for x in range(1,11,2):
    print(x)

1
3
5
7
9

In [60]:
cuadrado = []

for num in range(5000):
    cuadrado.append(num**2)

In [61]:
cuadrado[:10]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [62]:
cuadrado2 = [num**2 for num in range(5000)]
cuadrado2[:10]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [63]:
palabras = ["adalab", "python", "data analysts", "sql", "programadoras"]

In [64]:
palabras_len = []
for palabra in palabras:
    palabras_len.append(len(palabra))

In [65]:
palabras_len

[6, 6, 13, 3, 13]

In [66]:
palabras_len2 = [len(pal) for pal in palabras]
print(palabras_len2)

[6, 6, 13, 3, 13]

In [67]:
cuadrados_pares = []
for num in range(5000):
    if num % 2 == 0:
        cuadrados_pares.append(num**2)

In [68]:
cuadrados_pares[:10]

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [69]:
cuadrados_pares2 = [num ** 2 for num in range(5000) if num % 2 == 0]
cuadrados_pares2[:10]

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [70]:
palabras

['adalab', 'python', 'data analysts', 'sql', 'programadoras']

In [71]:
palabras_clas = []

for i in palabras:
    if len(i) <= 6:
        palabras_clas.append("palabra corta")
    else:
        palabras_clas.append("palabra larga")

In [72]:
palabras_clas

['palabra corta',
 'palabra corta',
 'palabra larga',
 'palabra corta',
 'palabra larga']

In [73]:
palabras_clas2 = ["palabra corta" if len(i) <= 6 else "palabra larga" for i in palabras]
palabras_clas2

['palabra corta',
 'palabra corta',
 'palabra larga',
 'palabra corta',
 'palabra larga']

In [74]:
listas = [[1,2,3], [4,5,6], [7,8,9]]

In [75]:
lista_aplanada = []
for sublista in listas:
    print(sublista)
    for num in sublista:
        print(num)
        lista_aplanada.append(num)

[1, 2, 3]
1
2
3
[4, 5, 6]
4
5
6
[7, 8, 9]
7
8
9

In [76]:
lista_aplanada

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [77]:
lista_aplanada2 = [num for sublista in listas for num in sublista]
lista_aplanada2

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## Ejercicios: list comprehensions

In [78]:
# List comprehensions sin filtrar
# Dada la siguiente lista de n칰meros:
lista = [2,45,67,23, 45,66,12,1,34,67,99,98,67,64, 44, 100]

In [79]:
# 10. Cread una lista nueva donde tengamos los n칰meros de la lista lista elevados al cuadrado
lista_9 = [num ** 2 for num in lista]
print(lista_9)

[4, 2025, 4489, 529, 2025, 4356, 144, 1, 1156, 4489, 9801, 9604, 4489, 4096, 1936, 10000]

In [80]:
# 11. Cread una lista nueva donde tengamos el resto de la divisi칩n de cada uno de los n칰meros entre 2
lista_11 = [num % 2 for num in lista]
print(lista_11)

[0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0]

In [81]:
# 12. List comprehensions filtradas. Cread una lista nueva donde tengamos solo los elementos pares de la lista lista
lista_12 = [num for num in lista if num % 2 == 0]
print(lista_12)

[2, 66, 12, 34, 98, 64, 44, 100]

In [82]:
# 13. Cread una lista donde tengamos solo los elementos que sean menores que 50
lista_13 = [num for num in lista if num < 50]
print(lista_13)

[2, 45, 23, 45, 12, 1, 34, 44]

In [87]:
# 14. Cread una lista donde tengamos los valores par e impar en funci칩n de los valores de la lista original
lista_14 = ["par" if num % 2 == 0 else "inpar" for num in lista]
print(lista_14)

['par', 'inpar', 'inpar', 'inpar', 'inpar', 'par', 'par', 'inpar', 'par', 'inpar', 'inpar', 'par', 'inpar', 'par', 'par', 'par']