In [1]:
gatos = 8
perros = "cuatro"

In [2]:
print(gatos)
print(perros)
print (perros, "más", perros)

8
cuatro
cuatro más cuatro

In [3]:
print(perros,"más",perros)

cuatro más cuatro

In [4]:
print(perros,"más",perros,"es igual a",gatos)

cuatro más cuatro es igual a 8

In [5]:
print(perros,"+",perros,"=",gatos,".")

cuatro + cuatro = 8 .

In [6]:
pizzas = 2
print(pizzas)

2

In [7]:
magdalenas = "2"
print(magdalenas)

2

In [8]:
type(magdalenas)

str

In [9]:
isinstance(pizzas,int)

True

In [11]:
postres = 0
print(postres)

0

In [12]:
type(postres)

int

In [13]:
isinstance(magdalenas,str)

True

In [24]:
postres = 0

In [25]:
print(postres)

0

In [28]:
gatos + pizzas

10

In [29]:
gatos - pizzas

6

In [30]:
gatos * 2

16

In [35]:
piezas = 8 * pizzas
print(piezas)

16

In [36]:
piezas = piezas + 3
print(piezas)

19

In [37]:
superficie = 9**2

In [38]:
print(superficie)

81

In [40]:
superficie / gatos

10.125

In [41]:
round(superficie/gatos,2)

10.12

In [42]:
gatos > pizzas

True

In [43]:
gatos < superficie

True

In [44]:
2*pizzas != gatos

True

In [45]:
2*pizzas == gatos

False

In [47]:
print(piezas >= pizzas
    and superficie != 0)

True

In [48]:
pizzas <= piezas < superficie

True

In [49]:
print(pizzas>gatos
    or piezas%gatos == 0)

False

In [51]:
dia_cumple = input("Cual es el día de tu cumpleaños?")
print(dia_cumple)

6

In [52]:
mes_cumple = input("Que mes es tu cumple?")
print(mes_cumple)

diciembre

In [53]:
dia_cumple.strip()

'6'

In [54]:
mes_cumple.strip()

'diciembre'

In [57]:
fecha_cumple = dia_cumple + " de " + mes_cumple
print(fecha_cumple)

6 de diciembre

In [58]:
print("Fecha de cumpleaños es el", fecha_cumple)

Fecha de cumpleaños es el 6 de diciembre

In [60]:
print(perros.upper())

CUATRO

In [61]:
numero1 = 87
numero2 = 32
numero3 = 6

In [62]:
numero1 > numero2

True

In [63]:
numero2 > numero1 > numero3

False

In [64]:
numero3 == numero2

False

In [65]:
numero2 != numero1

True

In [66]:
altura1 = 8.34
altura2 = 2.50

In [67]:
altura1 + altura2

10.84

In [68]:
altura1 - altura2

5.84

In [69]:
altura1 % altura2

0.8399999999999999

In [70]:
round(altura1%altura2, 2)

0.84

In [71]:
round(altura1/altura2, 1)

3.3

In [72]:
nombre_apellidos = input("Escribe tu nombre y apellidos")
print(nombre_apellidos)

Sandra Fernandez Menendez

In [73]:
print(nombre_apellidos.upper())

SANDRA FERNANDEZ MENENDEZ

In [74]:
print(nombre_apellidos.lower())

sandra fernandez menendez

In [75]:
print(nombre_apellidos.title())

Sandra Fernandez Menendez

In [76]:
print(nombre_apellidos.capitalize())

Sandra fernandez menendez

In [77]:
print(nombre_apellidos)

Sandra Fernandez Menendez

In [78]:
frase = input("Escribe una frase")
print(frase)

En un lugar de la Mancha

In [81]:
vocal = input("Escribe una vocal")
print(vocal)

a

In [82]:
print(frase.replace(vocal,vocal.upper()))

En un lugAr de lA MAnchA

In [84]:
lista_compra = input("Escribe la lista de la compra, separada por comas").split(",")
print(lista_compra)

['peras', 'manzanas', 'naranjas']

In [89]:
compra = "\n".join(lista_compra)
print(compra)

peras
manzanas
naranjas

In [93]:
colores = ["rojo", "azul", "verde", "negro", "amarillo", "blanco"]
buses = ["A342", "A125", "B45"]
temperaturas = [22, 20, 16, 19, 21, 21, 20]

In [100]:
nombres = "Sandra"
nombres = list(nombres)

In [98]:
apellidos ="Fernandez Menendez"
apellidos = list(apellidos)

In [97]:
len(buses)

3

In [101]:
nombres

['S', 'a', 'n', 'd', 'r', 'a']

In [102]:
mi_nombre = list("Fernandez Menendez")
print(mi_nombre)

['F', 'e', 'r', 'n', 'a', 'n', 'd', 'e', 'z', ' ', 'M', 'e', 'n', 'e', 'n', 'd', 'e', 'z']

In [103]:
len(apellidos)

18

In [104]:
t_max = max(temperaturas)
print(t_max)

22

In [105]:
t_min = min(temperaturas)
print(t_min)

16

In [107]:
"e" in nombres

False

In [108]:
"rosa" in colores

False

In [109]:
"x" not in nombres

True

In [110]:
temperaturas2 = temperaturas.copy()

In [111]:
temperaturas3 = temperaturas.copy()

In [112]:
temperaturas2.clear()
print(temperaturas2)

[]

In [113]:
print(temperaturas)

[22, 20, 16, 19, 21, 21, 20]

In [114]:
nombres2 = nombres.copy()

In [115]:
apellidos2 = apellidos.copy()

In [116]:
nombres2.reverse()

In [117]:
print(nombres2)

['a', 'r', 'd', 'n', 'a', 'S']

In [124]:
apellidos2.reverse()
print(apellidos2)

['z', 'e', 'd', 'n', 'e', 'n', 'e', 'M', ' ', 'z', 'e', 'd', 'n', 'a', 'n', 'r', 'e', 'F']

In [127]:
temperaturas3.reverse()
print(temperaturas3)

[20, 21, 21, 19, 16, 20, 22]

In [128]:
nombres2.sort()
print(nombres2)

['S', 'a', 'a', 'd', 'n', 'r']

In [129]:
apellidos2.sort()
print(apellidos2)

[' ', 'F', 'M', 'a', 'd', 'd', 'e', 'e', 'e', 'e', 'e', 'n', 'n', 'n', 'n', 'r', 'z', 'z']

In [130]:
nombres.count("a")

2

In [131]:
nombres.count("o")

0

In [132]:
nombres2.count("a")

2

In [133]:
nombres2.count("o")

0

In [134]:
temperaturas.count(t_max)

1

In [135]:
temperaturas.count(t_min)

1

In [137]:
temperaturas = [22, 20, 16, 16, 22, 22, 22]

In [138]:
temperaturas.count(t_max)

4

In [139]:
temperaturas.count(t_min)

2

In [140]:
print("La temperatura máxima esta semana será", t_max, "ºC, que ocurrirá en", temperaturas.index(t_max)+1, "día(s). El día más friolero tendrá una temperatura máxima de", t_min, "ºC, que ocurrirá en", temperaturas.index(t_min)+1, "día(s).")

La temperatura máxima esta semana será 22 ºC, que ocurrirá en 1 día(s). El día más friolero tendrá una temperatura máxima de 16 ºC, que ocurrirá en 3 día(s).

In [142]:
lista_amigos = input("Nombre de 3 amigos").split(", ")
print(lista_amigos)

['Amaia', 'Raul', 'Cris']

In [143]:
lista_alturas = input("Altura de tus amigos").split(", ")
print(lista_alturas)

['1.65', '1.90', '1.62']

In [144]:
lista_alturas = [float(i) for i in lista_alturas]
print(lista_alturas)

[1.65, 1.9, 1.62]

In [145]:
lista_amigos.sort(reverse=True)
print(lista_amigos)

['Raul', 'Cris', 'Amaia']

In [146]:
lista_alturas.sort(reverse=True)
print(lista_alturas)

[1.9, 1.65, 1.62]

In [147]:
max(lista_alturas)

1.9

In [148]:
min(lista_alturas)

1.62

In [149]:
lista1 = [44, 55, 67, 44, 98, 29]
lista2 = [34, 56, 56, 78, 67, 56]

In [152]:
lista_lista =  [lista1, lista2]

In [153]:
print(lista_lista)

[[44, 55, 67, 44, 98, 29], [34, 56, 56, 78, 67, 56]]

In [160]:
lista_numeros = lista1 + lista2

In [155]:
print(lista_numeros)

[44, 55, 67, 44, 98, 29, 34, 56, 56, 78, 67, 56]

In [156]:
67 in lista_lista

False

In [157]:
67 in lista_numeros

True

In [161]:
lista_numeros.reverse()

In [163]:
lista_numeros

[56, 67, 78, 56, 56, 34, 29, 98, 44, 67, 55, 44]