## TUPLAS

In [1]:
persona1 =  61, 1.54, "marrón"
persona1

(61, 1.54, 'marrón')

In [2]:
persona2 = (68, 1.65, "rubio")
persona2

(68, 1.65, 'rubio')

In [4]:
talla = ["M", 42, 39]
talla

['M', 42, 39]

In [5]:
talla = tuple(talla)
talla

('M', 42, 39)

In [6]:
persona1 = persona1 + talla
persona1

(61, 1.54, 'marrón', 'M', 42, 39)

In [7]:
color = persona2[2]
color

'rubio'

In [8]:
len(persona1)

6

In [9]:
zapatos = persona1[5]
zapatos

39

In [10]:
peso, altura, color, camiseta, pantalon, zapatos = persona1

In [11]:
print(peso)
print(altura)
print(color)
print(camiseta)
print(pantalon)
print(zapatos)

61
1.54
marrón
M
42
39

In [12]:
persona2

(68, 1.65, 'rubio')

In [13]:
peso, altura, color, ropa, zapatos = persona2

ValueError: not enough values to unpack (expected 5, got 3)

Combinar dos listas en tuplas

In [14]:
personas = zip(persona1, persona2)
list_personas = list(personas)

In [15]:
list_personas

[(61, 68), (1.54, 1.65), ('marrón', 'rubio')]

In [18]:
personas_prueba = tuple(list_personas)
personas_prueba

((61, 68), (1.54, 1.65), ('marrón', 'rubio'))

In [20]:
len(list_personas)

3

In [21]:
etiquetas = "peso", "altura", "color"

In [23]:
list_zip = list(zip(etiquetas, persona1, persona2))
list_zip

[('peso', 61, 68), ('altura', 1.54, 1.65), ('color', 'marrón', 'rubio')]

In [24]:
list_zip.sort()
print(list_zip)

[('altura', 1.54, 1.65), ('color', 'marrón', 'rubio'), ('peso', 61, 68)]

### PAIR PROGRAMMING TUPLAS

In [25]:
tupla_a = "A",

In [26]:
tupla_b = "d", "a", "l", "a", "b"

In [27]:
tupla_a = tupla_a + tupla_b
print(tupla_a)

('A', 'd', 'a', 'l', 'a', 'b')

In [30]:
tupla_b = "A",

In [33]:
list_tupla_b = list(tupla_b)
print(list_tupla_b)
list_tupla_c = ["d", "a", "l", "a", "b"]
print("-------")
list_tupla_b.extend(list_tupla_c)
print(list_tupla_b)

['A']
-------
['A', 'd', 'a', 'l', 'a', 'b']

In [34]:
tupla_a.index("l")

3

In [35]:
tupla_a.count("a")

2

In [37]:
set1 = {1,3,6,2,8,9}
set2 = {2,1,9,3,10,18}

In [3]:
capital = int(input("Dinero a invertir"))
interes = int(input("Tipo de interés"))
tiempo = int(input("Años dura la inversión"))
for i in range(tiempo):
    capital += (capital*interes/100)
print(round(capital,2))

108.24

In [6]:
capital = int(input("Dinero a invertir"))
interes = int(input("Tipo de interés"))
tiempo = int(input("Años dura la inversión"))
while tiempo > 0:
    capital += (capital*interes/100)
    tiempo -= 1
print(round(capital,2))

108.24

In [11]:
frase = input("Escribid una frase")
letra = input("Escribid una letra")
print(frase.count(letra))

2

In [12]:
frase = input("Escribid una frase")
letra = input("Escribid una letra")
numero_letra= 0
for i in frase:
    if i == letra:
        numero_letra += 1
print(numero_letra)

2

In [14]:
numero_mult = int(input("numero"))
print(f"Tabla de multiplicar del {numero_mult}")
for i in range(1,11):
    print(numero_mult,"x",i,"=",i*numero_mult)

Tabla de multiplicar del 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [15]:
numbers = [12, 75, 150, 145, 525, 50]
numbers_list = []
for i in numbers:
    if i % 5 == 0:
        if i > 500:
            break
        if i > 150:
            pass
        else:
            numbers_list.append(i)
print(numbers_list)

[75, 150, 145]

In [16]:
list1 = [10, 20, 30, 40, 50]
print(sorted(list1, reverse=True))

[50, 40, 30, 20, 10]

In [18]:
list1 = [10,20,30,40,50]
list2 = []
index = -1
for i in list1:
    list2.append(list1[index])
    index -= -1
print(list2)

[50, 10, 20, 30, 40]

In [21]:
for i in ['1', '2', '3']:
    try:
        print(i**2)
    except TypeError:
        print(int(i)**2)

1
4
9

In [22]:
frase_reves = "hola caracola"
print(frase_reves[::-1])

alocarac aloh

In [25]:
lista5 = [38, 25, 78, 69, 5, 20, 53, 41, 36, 17]
numero = int(input("Elige un número de la lista"))

if numero not in lista5:
    print("escoge otro número")
else:
    print(numero)

38

In [26]:
nombres = ["Laura", "Lorena", "Lupe", "Loreto", "Lucia"]
notas = [9, 8.5, 9.8, 8.9, 9.2]

In [27]:
notas_min = nombres[notas.index(min(notas))]
notas_min

'Lorena'

In [28]:
notas[nombres.index(notas_min)]>5

True

In [29]:
miercoles = [12, 59, 71]

In [30]:
miercoles.insert(len(miercoles),100)
print(miercoles)

[12, 59, 71, 100]